html {
  background: linear-gradient(180deg, darkturquoise, wheat);
  min-height: 100%;
  font-family: Joan, serif;
}

h1 {
  text-align: left;
  padding-left: 0.4em;
  font-family: Lato, sans-serif;
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px 2px darkviolet;
  text-transform: uppercase;
  letter-spacing: 10px;
  /* word-spacing: 20px; */
}

h2 {
  text-align: left;
  margin-left: 1em;
  font-family: Lato, sans-serif;
  font-size: 2em;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px 2px darkviolet;
  letter-spacing: 3px;
}

.flex {
  display: flex;
}

img {
  height: 270px;
  margin-top: -2em;
  margin-right: 1em;
  border-radius: 10%;
}

p, table {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.3em;
}

a {
  color: darkviolet;
}

.caption {
  text-align: center;
  padding-right: 1.1em;
  font-style: italic;
}

.code {
  font-family: 'Roboto Mono', monospace;
  font-size: 85%;
}

td {
  padding-bottom: 1em;
}

.date {
  font-weight: bold;
  padding-right: 2em;
  width: 10vw;
}

.blank {
  margin-left: 80px;
}

span[class^='h'] {
  animation-name: highlight;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease;
}

:root {
  --delay: 0.05s;
  --start: 0.5s;
}

.h0 { animation-delay: calc(var(--start) + 1 * var(--delay)); }
.h1 { animation-delay: calc(var(--start) + 2 * var(--delay)); }
.h2 { animation-delay: calc(var(--start) + 3 * var(--delay)); }
.h3 { animation-delay: calc(var(--start) + 4 * var(--delay)); }
.h4 { animation-delay: calc(var(--start) + 5 * var(--delay)); }
.h5 { animation-delay: calc(var(--start) + 6 * var(--delay)); }
.h6 { animation-delay: calc(var(--start) + 7 * var(--delay)); }
.h7 { animation-delay: calc(var(--start) + 8 * var(--delay)); }
.h8 { animation-delay: calc(var(--start) + 9 * var(--delay)); }
.h9 { animation-delay: calc(var(--start) + 10 * var(--delay)); }
.h10 { animation-delay: calc(var(--start) + 11 * var(--delay)); }

@keyframes highlight {
  from {
    color: white;
  }
  10% {
    color: yellow;
  }
  20% {
    color: white;
  }
}
